@{
    ViewBag.Title = "WAM Search";
}


<div class="row">
    <div class="input-group col-sm-12">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Enter Search Text...">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="startSearch()" type="button">Find It!</button>
        </span>
    </div>
    <hr/>
    <ul class="col-md-offset-1 col-md-10 list">
        <li class="pad-5" ng-repeat="result in results"><strong>Name: </strong>{{result.LastName + ", " + result.FirstName}}<br/> <strong>Postition: </strong> {{result.Position}}</li>
    </ul>
</div>