@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="input-group col-sm-12">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Enter Search Text...">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="startSearch()" type="button">Find It!</button>
        </span>
    </div>
    <ul>
        <li ng-repeat="result in results">{{result.FirstName + " " + result.LastName + " Position: " + result.Position}}</li>
    </ul>
</div>